.client {
    display: flex;
    align-items: center;
    margin: 50px 0;
    height: 60px;
    gap: 30px;
    transition: 1s;
}

.deleteBtn {
  background: none;
  width: 40px;
  height: 100%;
}

.delete-svg {
  transition: 0.15s;
}

.deleteBtn:hover > svg {
  color: red;
  animation: delete .5s;
}

.deleteBtn:active ~ .client {
  transform: translateX(-100%);
}

@keyframes delete {
    0%, 100% {
        transform: rotateZ(0);
    }
    25%, 75% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
}

.add-user {
  margin-left: -30px;
  background: none;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 50%;
  transform-origin: center;
  transition: 0.3s;
}

.add-user:hover {
  color: var(--primary1);
  transform: rotateZ(180deg);
}

.input {
  padding-left: 15px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.select {
    display: inline;
  position: relative;
  /* min-width: 300px; */
  height: 100%;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
}

.select select {
  width: 100%;
  padding-right: 40px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}
